.hero {
  padding-top: 120px;
  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .btn-contacts {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  p, ul, li, h1, h2, h3, span {
    color: $t-primary !important;
  }
  li {
    list-style: none;
  }
  h1, h2, ul, p {
    margin-bottom: 15px;
  }
  h2 {
    font-size: $t-xlarge;
  }
}
.subtract {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  img {
    margin-top: -30px;
  }
}
@media (max-width: 991.98px) {
  .subtract {
    display: none;
  }
  .hero {
    padding-top: 30px;
  }
}