.paralax {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .paralax-style {
    background-image: url("../assets/bg-end.jpg");
    height: 630px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 991.98px) {
      min-height: 400px;
    }
  }
  .paralax-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .paralax-gradient--gray {
    background: rgba(0, 0, 0, 0.55);
  }
  .paralax-gradient--purplegreen {
    background: linear-gradient(180deg, #8CB57E 0%, #7D94C1 100%);
    mix-blend-mode: multiply;
  }
  .paralax-content {
    z-index: 2;
    margin: auto;
    width: 100%;
  }
  .paralax-caption {
    h1, p {
      margin-bottom: 15px;
      color: #fff;
      text-shadow: 2px 2px 2px #000;
    }
  }
  .paralax-paralax {
    height: 630px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }