// colors
$t-primary: #205346;
$t-secondary: #F18C63;
$t-tertiary: #EEFCEF;
$t-quaternary: #FFF3E5;
// size
$t-small: 12px;
$t-medium: 14px;
$t-large: 18px;
$t-xlarge: 20px;


$bg-left: "img-esquerda.svg";
$bg-right: "img-direita.svg";

$break-md: 768px;

// social
$facebook: #3B5998;
$instagram: #DD2A7B;
$youtube: #E62117;
$whatsapp: #25D366;
$twitter: #00ACEE;
// shadows 
$s-boxshadow: 0 5px 10px 0 rgba(0,0,0,0.4);

// transition

$transition: all 0.3s ease;