.hero
  .subtract
    img(src="src/assets/subtract.png", alt="Bg logo")
  .container 
    .row 
      .col-md-8
        p
          span
            i.fa-brands.fa-whatsapp &nbsp;
            | Clínica ATINGIR
          span
            i.fa-brands.fa-whatsapp &nbsp;
            | Psicologia . Psicomotricidade . Fonoaudiologia
        h1 Psicologia com acolhimento, ciência e propósito
        h2 Integramos psicomotricidade e fonoaudiologia como pilares de cuidado, potencializando comunicação, corpo, e emoção no dia a dia.
        ul 
          li 
            i.fa-brands.fa-whatsapp &nbsp;
            | Psicomotricidade: corpo que organiza
          li 
            i.fa-brands.fa-whatsapp &nbsp;
            | Fonoaudiologia: voz que se fortalece
          li 
            i.fa-brands.fa-whatsapp &nbsp;
            | Psicologia: mente que encontra sentido
        p Atendimento humanizado . Sessões presenciais e/ou online . Plano Terapéutico individual.
      .col-md-4
        figure 
          img(src="src/assets/hero-atingir-image.png", alt="Máscara da psicologia")
    .row 
      .col-12.btn-contacts
        a.btn.btn-primary.me-3(href="#" title="Whatsapp")
          i.fa-brands.fa-whatsapp &nbsp;
          | Agendar avaliação
        a.btn.btn-secondary(href="#" title="Serviços")
          i.fa-brands.fa-whatsapp &nbsp;
          | Ver serviços